 


.productPopup, .productPopup2, .productPopup3 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.productPopup-content, .productPopup2-content, .productPopup3-content {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 400px;
}

.close-btn {
    font-size: 30px;
    font-weight: bold;
    color: gray;
    justify-content:end;
    padding-top: 15px;
    padding-left: 97%;
    cursor: pointer;
}

.close-btn:hover {
    color: black;
}

.textArea {
    background-color: white;
    width: 350px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #00000080;
}



.textButton{
    background-color: #3d60a1;
    color: aliceblue;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid transparent;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.textButton:hover{
    transition: 0.2s;
    background-color: #406ab8;
}

.dropdown2 {
    position: relative;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #00000080;
    outline: none;

    max-height: 30px;
    overflow-y: auto;
}

.dropdown2 option {
    position: relative;
}

.dropdown2:hover{
    transition: 0.2s;
    cursor: pointer;
    background-color: #ffffff50;
}

select:is(:-internal-list-box) {
    overflow-y: scroll;
    max-height: 100px;
}

.categoryPopup{
    display: flex;
    flex-direction: row;
    border: solid 1px transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 36px;
    width: 100%;
    /* padding: 8px; */
    margin-top: 10px;
}
