@import url("colors.css");


.productPopup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.productPopup-content {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-radius: 10px;
    width: 400px;
}

.close-btn {
    font-size: 30px;
    font-weight: bold;
    color: gray;
    justify-content:end;
    padding-top: 15px;
    padding-left: 97%;
    cursor: pointer;
}

.close-btn:hover {
    color: black;
}

.textArea {
    background-color: white;
    width: 350px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    /* margin-left: 3px; */
}



.textButton{
    background-color: rgb(17, 70, 216);
    color: aliceblue;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid transparent;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    /* margin-left: 7%; */
}

.textButton:hover{
    transition: 0.2s;
    background-color: rgb(17, 113, 216);
    /* margin-left: 7%; */
}

.dropdown2 {
    margin: 0px 15px 0 0;
    border-radius: 0 10px 10px 0;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
}

.dropdown2:hover{
    transition: 0.2s;
    cursor: pointer;
    background-color: #ffffff50;
}

.popupButton2{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px 0px 0px 10px;
    background-color: transparent;
}

.popupButton2:hover{
    transition: 0.2s;
    cursor: pointer;
    /* background-color: #ffffff50; */
}

.control3{
    display: flex;
    flex-direction: row;
    /* background-color: #ece9e2; */
    border: solid 1px transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
