
.table-sp {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 10px 20px #0000001a;

    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.th-sp {
    background-color: #98b7c5;
    color: black;
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #1f397233;
    border-left: 1px solid #1f397233;
}

.td-sp {
    background-color: #d5dee6;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #a0afc0;
    border-left: 1px solid #a0afc0;
}

.editProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-left: 15px;
    width: 30px;
    color: darkslategrey;
    border: transparent;
}

.editProduct:hover {
    transition: 0.2s;
    color: #0099ff;
    cursor: pointer;
}

.deleteProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-left: 10px;
    width: 30px;
    color: darkslategrey;
    border: transparent;
}

.deleteProduct:hover {
    transition: 0.2s;
    color: red;
    cursor: pointer;
}

.sidebar{
    position:fixed;
    display:flex;
    left: 0;
    height:100vh;
    min-width: 200px;
    background: linear-gradient(135deg, #00488b, #136abb);
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sidebar-link:hover {
    transform: scale(1.1);
    color: #66c2ff;
}

.listButton{
    justify-content: flex-start;
    list-style-type: none;
    text-align: left;
    color: #ffffffaa;
    width: 90%;
    height: 50px;
    margin-top: 3px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: medium;
    border: transparent;
    border-radius: 10px;
    background-color: transparent;
}

.i{
    padding-right: 10px;
}

.listButton:hover{
    transition: 0.2s;
    color: white;
    background-color: #ffffff50;

}

.mainviews{
    flex-grow: 1;
    padding: 40px;
    margin-left: 200px;
    background: linear-gradient(135deg, transparent, #30425a54);
}

.detailView-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 0 20px;
    font-size: 16px;
    color: #0000009f;
    border: transparent;
}

.detailView-btn:hover{
    transition: 0.2s;
    color: #0f58ac;
    cursor: pointer;
}

/* POP UP */
#salesDetailPopup {
    display: none; /* Initially hidden */
}

#popupReceipt{
    display: none;
}

.salesDetail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080; /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures the popup is on top */
}

.salesDetail-content {
    overflow-y: scroll;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    /* border-radius: 5px; */
    width: 500px;
    min-height: 500px;
    max-height: 700px;
}


.salesDetailTable{
    font-family: 'Courier New', sans-serif;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}

.salesDetailTable th, .salesDetailTable td {
    font-family: 'Courier New', sans-serif;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}

.pagination-container{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.pagination-container input{
    border: transparent;
    background-color: transparent;
    /* border: solid 1px #695b40; */
    /* outline: none; */
    border-radius: 5px;
    font-size: 16px;
    width: 17px;
    text-align: right;

}

.pagination-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 18px;
    
    border-radius: 6px;

    background-color: #98b7c5;
    color: #000000;

    border: transparent;
    width: 30px;
    height: 30px;
}

.pagination-container button:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #97bfd1;
    color: black;
    box-shadow: 0px 3px 6px #00000026;
}

.inputChange {
    padding: 5px 15px;
}

/* 
.pagination-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 5px;
}

.pagination li {
    display: inline-block;
}

.pagination a,
.pagination span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: #98b7c5;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
    min-width: 35px;
    height: 35px;
}

.pagination a:hover {
    background-color: #af9b76;
    color: black;
    transform: translateY(-2px);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.pagination .active span {
    background-color: #a77d31;
    color: black;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
}

.pagination .disabled span {
    background-color: #bdbdbd;
    color: rgb(94, 94, 94);
    cursor: not-allowed;
    pointer-events: none;
}

.pagination .prev-next {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
    border: 1px solid #ccc;
}

.pagination .prev-next:hover {
    background-color: #e2e6ea; 
}*/

.align {
    display: flex;
    justify-content: space-between;
}

.addNewButton {
    background-color: #004c8b;
    color: white;
    padding-right: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    height: 35px;
    margin-top: 20px;
}

.addNewButton:hover {
    transition: 0.3s;
    background-color: #004c8b;
    cursor: pointer;
}

.dropdown3 {
    border-radius: 0 10px 10px 0;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    height: 35px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #004c8b;
    color: white;
}

.dropdown3:hover{
    transition: 0.2s;
    cursor: pointer;
    background-color: #015ba5;
}

.popupButton2{
    border: transparent;
    border-right: 1px solid #00000080;
    border-radius: 10px 0px 0px 10px;
    background-color: #004c8b;
    color: white;
    height: 35px;
    margin-top: 20px;
}

.popupButton2:hover{
    transition: 0.2s;
    cursor: pointer;
    background-color: #004c8b;
}

/* option:hover{
    background-color: #004c8b;
} */
/* Style for the close button */
.close-btn {
    font-size: 30px;
    font-weight: bold;
    color: gray;
    justify-content:end;
    padding-top: 15px;
    padding-left: 97%;
    cursor: pointer;
}

.close-btn:hover {
    color: black;
}
