
/* General table styles */
.table-sales {
    width: 100%;
    min-width: 600px;
    /* margin: 20px auto; */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 10px 20px #0000001a;

    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

/* Table header styles */
.th-sales {
    background-color: #c5b598;
    /* background: linear-gradient(180deg, var(--GrayBlue), var(--GrayBlue)); */
    color: black;
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #724b1f33;
    border-left: 1px solid #724b1f33;
}

/* Table data cell styles */
.td-sales {
    background-color: #e6dbd5;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #c0b1a0;
    border-left: 1px solid #c0b1a0;
}

.sidebar{
    position:fixed;
    display:flex;
    left: 0;
    height:100vh;
    min-width: 200px;
    background: linear-gradient(135deg, #8b4a00, #bb9413);
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sidebar-link:hover {
    transform: scale(1.1);
    color: var(--LightBlue);
}

.listButton{
    justify-content: flex-start;
    list-style-type: none;
    text-align: left;
    color: var(--TranslucentWhite1);
    width: 90%;
    height: 50px;
    margin-top: 3px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: medium;
    border: transparent;
    border-radius: 10px;
    background-color: transparent;
}

.i{
    padding-right: 10px;
}

.listButton:hover{
    transition: 0.2s;
    color: white;
    background-color: var(--TranslucentWhite2);

}

.mainviews{
    flex-grow: 1;
    padding: 40px;
    margin-left: 200px;
    background: linear-gradient(135deg, transparent, #5a463054);
}

.detailView-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-left: 15px;
    /* width: 40px; */
    padding: 0 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.479);
    border: transparent;
}

.detailView-btn:hover{
    transition: 0.2s;
    color: #bb9413;
    cursor: pointer;
}

/* POP UP */
#salesDetailPopup {
    display: none; /* Initially hidden */
}

.salesDetail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures the popup is on top */
}

.salesDetail-content {
    overflow-y: scroll;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    /* border-radius: 5px; */
    width: 500px;
    min-height: 500px;
}


.salesDetailTable{
    font-family: 'Courier New', sans-serif;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}

.salesDetailTable th, .salesDetailTable td {
    font-family: 'Courier New', sans-serif;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}

/* Style for the close button */
.close-btn {
    font-size: 30px;
    font-weight: bold;
    color: gray;
    justify-content:end;
    padding-top: 15px;
    padding-left: 97%;
    cursor: pointer;
}

.close-btn:hover {
    color: black;
}
